<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.youfeel.yfgl</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>优服管理</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.1.7</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>weixin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wx45e56bc2563438f5</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>3.1.9</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>3c933117c36927bea8ff4f1ab41c48630db1a41f</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>weixin</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>APP需要您的同意才能访问多媒体</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>APP需要您的同意才能访问蓝牙</string>
	<key>NSCalendarsUsageDescription</key>
	<string>APP需要您的同意才能访问日历</string>
	<key>NSCameraUsageDescription</key>
	<string>APP需要您的同意才能访问相机</string>
	<key>NSContactsUsageDescription</key>
	<string>APP需要您的同意才能访问通讯录</string>
	<key>NSHealthShareUsageDescription</key>
	<string>APP需要您的同意才能访问健康分享</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>APP需要您的同意才能访问健康更新</string>
	<key>NSHomeKitUsageDescription</key>
	<string>APP需要您的同意才能访问家庭</string>
	<key>NSLocationUsageDescription</key>
	<string>APP需要您的同意才能访问位置</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>APP需要您的同意才能使用时访问地址</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>APP需要您的同意才能访问麦克风</string>
	<key>NSMotionUsageDescription</key>
	<string>APP需要您的同意才能访问运动与健康</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>APP需要您的同意才能访问相册</string>
	<key>NSRemindersUsageDescription</key>
	<string>APP需要您的同意才能访问提醒事项</string>
	<key>NSSiriUsageDescription</key>
	<string>APP需要您的同意才能访问Siri</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>APP需要您的同意才能访问语音识别</string>
	<key>NSVideoSubscriberAccountUsageDescription</key>
	<string>APP需要您的同意才能访问电视资源</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>kTCCServiceMediaLibrary</key>
	<string>APP需要您的同意才能访问音乐</string>
</dict>
</plist>
